USE [master]
GO
/****** Object:  Database [Album]    Script Date: 17/7/2026 08:08:52 ******/
CREATE DATABASE [Album]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Album', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Album.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Album_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Album_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Album].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Album]
GO
/****** Object:  User [alumno]    Script Date: 17/7/2026 08:08:52 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[figurita]    Script Date: 17/7/2026 08:08:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[figurita](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Pais] [varchar](50) NOT NULL,
	[nDorsal] [int] NOT NULL,
	[seleccionID] [int] NOT NULL,
 CONSTRAINT [PK_figurita] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seleccion]    Script Date: 17/7/2026 08:08:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seleccion](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[pais] [varchar](50) NOT NULL,
	[grupo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_seleccion] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 17/7/2026 08:08:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario-figurita]    Script Date: 17/7/2026 08:08:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario-figurita](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[usuarioID] [int] NOT NULL,
	[figuritaID] [int] NOT NULL,
	[cantidadFiguritasSueltas] [int] NOT NULL,
	[pegado] [bit] NOT NULL,
 CONSTRAINT [PK_usuario-figurita] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[figurita] ON 

INSERT [dbo].[figurita] ([ID], [Nombre], [Pais], [nDorsal], [seleccionID]) VALUES (1, N'Raúl Rangel', N'México', 1, 1)
INSERT [dbo].[figurita] ([ID], [Nombre], [Pais], [nDorsal], [seleccionID]) VALUES (2, N'Jorge Sánchez', N'México', 2, 1)
INSERT [dbo].[figurita] ([ID], [Nombre], [Pais], [nDorsal], [seleccionID]) VALUES (3, N'César Montes', N'México', 3, 1)
GO
SET IDENTITY_INSERT [dbo].[figurita] OFF
GO
SET IDENTITY_INSERT [dbo].[seleccion] ON 

INSERT [dbo].[seleccion] ([ID], [pais], [grupo]) VALUES (1, N'México', N'A')
INSERT [dbo].[seleccion] ([ID], [pais], [grupo]) VALUES (2, N'Sudáfrica', N'A')
INSERT [dbo].[seleccion] ([ID], [pais], [grupo]) VALUES (3, N'Corea del Sur', N'A')
SET IDENTITY_INSERT [dbo].[seleccion] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([ID], [Nombre]) VALUES (1, N'Juan Carlos')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[figurita]  WITH CHECK ADD  CONSTRAINT [FK_figurita_seleccion] FOREIGN KEY([seleccionID])
REFERENCES [dbo].[seleccion] ([ID])
GO
ALTER TABLE [dbo].[figurita] CHECK CONSTRAINT [FK_figurita_seleccion]
GO
ALTER TABLE [dbo].[usuario-figurita]  WITH CHECK ADD  CONSTRAINT [FK_usuario-figurita_figurita] FOREIGN KEY([figuritaID])
REFERENCES [dbo].[figurita] ([ID])
GO
ALTER TABLE [dbo].[usuario-figurita] CHECK CONSTRAINT [FK_usuario-figurita_figurita]
GO
ALTER TABLE [dbo].[usuario-figurita]  WITH CHECK ADD  CONSTRAINT [FK_usuario-figurita_Usuario] FOREIGN KEY([usuarioID])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[usuario-figurita] CHECK CONSTRAINT [FK_usuario-figurita_Usuario]
GO
USE [master]
GO
